:root {
    --primary-color:rgb(233, 235, 248); 
    padding:5px; 
    margin: 10px;
    border: 2Px
     
}
html{
  background-color: rgb(165, 162, 153);
}
 * {
  box-sizing: border-box;
 padding: 5 10;
  margin: 4 5; 
  color: var(--primary-color);
 }

 a {
  flex: flex;
  background-color: rgb(141, 129, 140);
  color: rgba(233, 235, 248);
  border: 1px solid;
  padding: 0.5rem;
  margin: auto 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

a:hover,
a:focus {
  background-color: #fff;
  color: #0D0D0D;
}
article{ 
Padding: 10px; 
margin:auto 0; 
background-color: rgb(141, 129, 140); 
border: 2px solid black;
border-radius: 5px;
}

article.card{
   transition: width 2s, height 2s, transform 2s;
   animation-name: bounce; 
   margin-bottom: auto;
}
article.card:hover {
  cursor: pointer;
  box-shadow:rgb(202, 66, 18);  ;
   perspective:(500px) translate(10px, 0, 20px) rotateY(3deg);
   opacity: 0.3;
}
p{
  font-size: 18px;
  font-family: "Libre Baskerville", serif; 
  Padding: 2%; 
  margin:1%; 
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  color: #730202
}
.card {
  width: 25%;
  margin: 10px;
  border: 1px solid rgb(141, 129, 140);
  box-shadow: 2px 2px 6px 0px rgba(233, 235, 248);
}

.card img {
  max-width: 100%;
}
.card.text {
  padding: 20px 20px;
}
.card .text > button {
  background: gray;
  border: 2;
  color: white;
  padding: 10px;
  width: 100%;
}
h1{
  color:rgb(233, 235, 248);
  border-radius:black;
  font-family: "Great Vibes", cursive; font-size: 70px
}
h2{
  color: rgb(141, 129, 140);
  border-color: rgb(165, 162, 153);
  font-size: 29px; font-family: "Libre Baskerville", serif;
}
h3{
  color:rgb(141, 129, 140)
}
header {
  display: flex;
  flex-direction: row;
  margin-top:17px; 
  margin-left:2px; 
  border:rgb(202, 66, 18); 
  align-items: center;
  justify-content: space-between;
  padding: 15px 5px;
  background:rgb(141, 129, 140); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
 #0D0D0D,
    rgb(141, 129, 140)
  ); 
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #0D0D0D,
    rgb(141, 129, 140)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card:nth-child(1) {
  width: 39%;
}
ul{
  display: flex; 
  margin: 5Px; 
  padding: 10px;
}
.main {
  padding: 20px;
  margin: 5px;
}
main.p {
  color: #0D0D0D
}

/*Start of the Media queries for Mobile -  moblie-first column for the smallest screen size */
.flex-item {
  flex: 1 0 100%;
}
/* medium screens / tablets */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow*/

  .flex-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }
}
/* Largest screens */
@media screen and (min-width: 992px) {
  .-column {
    flex: 0 0 33.3333%;
    max-width: 33.333%;
  }
}
