:root {
    --primary-color:rgb(233, 235, 248); 
     
}
html{
  background-color: rgb(165, 162, 153);
}
* {
  box-sizing: border-box;
  padding: 5 10;
  margin: 4 5;
  color: var(--primary-color);
}
article{ 

Padding: 10px; 
margin:auto 0; 
background-color: rgb(141, 129, 140); 
border: 2px solid black;
border-radius: 5px;

}
article.hover {
  cursor: pointer;
  
}
p{
  font-size: 18px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  Padding: 2%; 
  margin:1%; 
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card {
  width: 46%;
  margin: 10px;
  border: 1px solid rgb(141, 129, 140);
  box-shadow: 2px 2px 6px 0px rgba(233, 235, 248);
}
.card img {
  max-width: 100%;
}
.card .text {
  padding: 20px 20px;
}
.card .text > button {
  background: gray;
  border: 2;
  color: white;
  padding: 10px;
  width: 100%;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5px;
  background:rgb(141, 129, 140); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
  black,
    rgb(141, 129, 140)
  ); 
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(black),
    rgb(141, 129, 140)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card:nth-child(1) {
  width: 46%;
}
.main {
  padding: 20px;
  margin: 5px;
}

/*Start of the Media queries for Mobile -  moblie-first column for the smallest screen size */
.flex-item {
  flex: 1 0 100%;
}
/* medium screens / tablets */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow*/

  .flex-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }
}
/* Largest screens */
@media screen and (min-width: 992px) {
  .-column {
    flex: 0 0 33.3333%;
    max-width: 33.333%;
  }
}
