:root {
    --primary-color: antiquewhite;
    --accent-color: red;
    --outer-space: #33393f;
    --bright-turquoise: #2aefcb;
    --gin: #e0eae4;
    --glow: gold;
    --background-color: rgb(26, 26, 26);
}
element.style {
}
.box-card {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* min-height: 100%; */
    padding: 2rem;
    color: var(--primary-color);
    outline: 2px hidden var(--gin);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--primary-color);
}

body {
    background: var(--background-color);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5em;
}


header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5px;
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #eef2f3,
    #8e9eab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #eef2f3,
    #8e9eab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header h1 {
  margin-left: 15px;
  color: #666662;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #666662;
}


.hero-banner {
  background-image: url("https://thumbs.dreamstime.com/b/magenta-violet-simple-very-discreet-elegant-banner-background-texture-backlighting-backdrop-web-printing-203630001.jpg");
  background-color: #cccccc;
  color: #8e9eab;
  opacity: 50%;
  padding: 15px 5px;
  border: none;
  margin-right: 10px;
}
article h2 {
  color: #7b6884;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
article {
  background-color: #fdf6bf;
  padding: 15px 10px;
  margin: auto 0;
}
article div {
  color: #7b6884;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.projects {
  display: flex;
  color: #7b6884;
  flex: wrap;
  flex-direction: flex-start;
  justify-content: flex-start;
}

.contact ul{
  background-image: url("https://unsplash.com/photos/aSOcGOtXW44?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink");
  background-color: none;
  color: #7b6884;
  opacity: 50%;
  padding: 15px 5px;
  border: dashed #7b6884;
  margin-right: 10px;
}

body {
  padding: 20px;
  margin: 15px;
  background-color: rgb(194, 192, 233);
  color: rgb(134, 72, 18);
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;}

  .one{
  display: flex; 
  flex-wrap:wrap;
  flex-grow:2;
}  
    .three{
  display: flex; 
  flex-direction: 2 column;
}
.two{
  display: flex; 
  flex-direction: 2 column;
}

/* flex parent */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: 3 row;
  justify-content: space-evenly;
}
/* moblie-first column for the smallest screen size */
.flex-item {
  flex: 1 0 100%;
}
/* medium screens / tablets */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow*/
  
    .flex-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

}
/* Largest screens */
@media screen and (min-width: 992px) {
  .-column {
    flex: 0 0 33.3333%;
    max-width: 33.333%;
  }
}
