header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5px;
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #eef2f3,
    #8e9eab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #eef2f3,
    #8e9eab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header h1 {
  margin-left: 15px;
  color: #666662;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #666662;
}

.hero-banner {
  background-image: url("https://thumbs.dreamstime.com/b/magenta-violet-simple-very-discreet-elegant-banner-background-texture-backlighting-backdrop-web-printing-203630001.jpg");
  background-color: #cccccc;
  color: #8e9eab;
  opacity: 50%;
  padding: 15px 5px;
  border: none;
  margin-right: 10px;
}
article h2{
  color:#8c6f99; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
article {
  background-color:#fdf6bf; 
  padding: 15px 10px; 
  margin: auto 0; 
}
article div{
   color: #8e9eab;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.projects {
  display: flex;
  color:#7b6884; 
  flex-direction: flex-start;
  justify-content: flex-start;
}

main h2 {
  background-image: url("https://unsplash.com/photos/aSOcGOtXW44");
  background-color: none;
  color: #7b6884;
  opacity: 100%;
  padding: 15px 5px;
  border: dashed #7b6884;
  margin-right: 10px;
}

body {
  padding: 20px;
  margin: 15px;
  background-color: white;
  color: rgb(134, 72, 18);
}

/* flex parent */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
/* moblie-first column for the smallest screen size */
.card-column {
  flex: 1 0 100%;
}
/* medium screens / tablets */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow*/
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
/* Largest screens */
@media screen and (min-width: 992px) {
  .card-column {
    flex: 0 0 33.3333%;
    max-width: 33.333%;
  }
}
