:root {
    --primary-color: rgb(87, 85, 83);
    --accent-color: rgb(218, 184, 212);
    --outer-space: #33393f;
    --bright-turquoise: #2aefcb;
    --gin: #e0eae4;
    --glow: rgb(223, 213, 158);
    --background-color: rgb(26, 26, 26);
}
* {
  box-sizing: border-box;
  padding: 5 10;
  margin: 4 5;
  color: var(--primary-color);
}
article{ 

Padding: 10px; 
margin:5px; 

}
p{
  font-size: 18px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  Padding: 2%; 
  margin:1%; 
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card {
  width: 46%;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.card img {
  max-width: 100%;
}
.card .text {
  padding: 20px 20px;
}
.card .text > button {
  background: gray;
  border: 2;
  color: white;
  padding: 10px;
  width: 100%;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5px;
  background:rgb(87, 85, 83); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #eef2f3,
    #8e9eab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #eef2f3,
    #8e9eab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card:nth-child(1) {
  width: 46%;
}
.main {
  padding: 20px;
  margin: 5px;
}

/*Start of the Media queries for Mobile -  moblie-first column for the smallest screen size */
.flex-item {
  flex: 1 0 100%;
}
/* medium screens / tablets */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow*/

  .flex-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }
}
/* Largest screens */
@media screen and (min-width: 992px) {
  .-column {
    flex: 0 0 33.3333%;
    max-width: 33.333%;
  }
}
